*{
    font-family:sans-serif;
  }
  ul.polaroids a:after {
    content: attr(title);
  }
  ul.polaroids a {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
  }
  
  ul.polaroids li:nth-child(even) a {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
  }
  
  ul.polaroids li:nth-child(3n) a {
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
  }
  
  ul.polaroids li:nth-child(5n) a {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
  }
  
  ul.polaroids li:nth-child(8n) a {
    position: relative;
    top: 8px;
    right: 5px;
  }
  
  ul.polaroids li:nth-child(9n) a {
    position: relative;
    top: 3px;
    left: -5px;
  }
  ul.polaroids a {
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }
  ul.polaroids a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    position: relative;
    z-index: 5;
  }
  ul.polaroids a {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  }